@use '../utils/api';

ion-popover.ios:not(.ios26-disabled) {
  --backdrop-opacity: 0.2;
  --background: rgba(var(--ios26-glass-background-rgb), 0.72);
  --box-shadow:
    inset 0 0 8px 0 rgba(var(--ios26-glass-box-shadow-color-rgb), 0.2), 0 0 10px 0 rgba(var(--ios26-glass-box-shadow-color-rgb), 0.82);
  &::part(arrow) {
    display: none;
    ::after {
      //@include api.glass-background;
    }
  }
  &::part(content) {
    @include api.glass-background($include-background: false, $include-box-shadow: false);
    border-radius: 24px;
    padding: 0;
  }
  ion-select-popover {
    ion-list {
      background: transparent;
      ion-item {
        --background: transparent;
        &:last-of-type {
          --border-width: 0px;
          --show-full-highlight: 0;
          --inner-border-width: 0px;
          --show-inset-highlight: 0;
        }
      }
    }
  }
}
